@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-scrollbar {
  width: 0;
} 

.ratio-1-1{
  aspect-ratio: 1/1;
}

.bg-choice{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/img/foto-home-1.jpg');
  background-position: center;
  background-size: cover;
}