@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-scrollbar {
  width: 0;
} 

.bg-choice{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dobjgx7ps/image/upload/v1718316342/foto-home-1_obwu2r.jpg');
  background-position: center;
  background-size: cover;
}

.bg-vision-mission{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dobjgx7ps/image/upload/v1718316328/foto-about-7_dkkl2u.jpg');
  background-position: center;
  background-size: cover;
}

.bg-news{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 3)), url('https://res.cloudinary.com/dobjgx7ps/image/upload/v1718316334/foto-about-history-2_jijtwd.jpg');
  background-size: cover;
}