@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-scrollbar {
  width: 0;
} 

.bg-choice{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/dobjgx7ps/image/upload/v1718523808/foto-home-1_obwu2r-ezgif.com-jpg-to-webp-converter_ortona.webp');
  background-position: center;
  background-size: cover;
}

.bg-vision-mission{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/dobjgx7ps/image/upload/v1718523511/foto-about-7_dkkl2u-ezgif.com-jpg-to-webp-converter_wtozfj.webp');
  background-position: center;
  background-size: cover;
}

.bg-news{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 8)), url('https://res.cloudinary.com/dobjgx7ps/image/upload/v1718523510/foto-about-history-2_jijtwd-ezgif.com-jpg-to-webp-converter_wvbacv.webp');
  background-size: cover;
}

.arrow-down {
  transform: rotate(10deg);
  animation: slide-down 0.5s infinite alternate;
  cursor: pointer;
}

@keyframes slide-down {
  to {
      transform: translateY(5px);
  }
}

@media only screen and (max-width: 767px){
  .container{
    padding: 0 1rem !important;
  }

  .bg-choice{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/dobjgx7ps/image/upload/v1718525137/foto-home-1_obwu2r-ezgif.com-jpg-to-webp-converter_HP_xqybdp.webp') !important;
  }

  .desc-button::before,
  .desc-button::after {
      content: "";
      display: block;
      width: 20%;
      border-bottom: solid 1px gray;
      position: absolute;
      top: 50%;
  }
  
  .desc-button::before {
      left: 4%;
  }
  
  .desc-button::after {
      right: 4%;
  }

  .box-nav{
    overflow-y: auto;
  }

  .arrow-coverage {
    transform: rotate(15deg);
    animation: around 1s infinite alternate;
  }

  @keyframes around {
    to {
      transform: rotate(150deg);
    }
  }
  
}